:root{
    --bg-color: #2C3639;
    --bg-color2: #3F4E4F;
    --txt-color: #DCD7C9;
    --txt-color2: #47B5FF;
}
body{
    color: var(--txt-color);
    background-color: var(--bg-color);
    font-family: 'Courier New', Courier, monospace;
    
}

nav{

    width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    background-color: var(--bg-color2);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem  black;
}
nav a{
    display: block;
    background-color: var(--bg-color);
    color: var(--txt-color);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
                
}

@media (max-width:840px) {
    nav{
        width: 90%;
    }
}